.container{
    color: white;
}

.header{
    position: sticky;
}

.title{
    color: white;
    margin: 10px 15px;
}

.menuSelectorContainer{
    display: flex;
    justify-content: space-evenly;
    color: rgb(113, 118, 123);
    border-bottom: 1px solid rgb(47, 51, 54);
    width: 39vw;
    text-align: center;
}

.menuSelectorItem{
    padding: 20px 0px;
    cursor: pointer;
    width: 50%;
}

.menuSelectorItem:hover{
    background-color: rgba(231, 233, 234, 0.1);
}

.forYouSelected{
    position:relative;
    color: white;
    font-weight: bold;
}

.forYouSelected:before{
    align-self: center;
    content:'';
    position:absolute;
    bottom:0px;
    width:58px;
    height:4px;
    background:rgb(29, 155, 240);
    border-radius: 20px;
}

.followingItemSelected{
    position:relative;
    color: white;
    font-weight: bold;
}

.followingItemSelected:before{
    align-self: center;
    content:'';
    position:absolute;
    bottom:0px;
    width:75px;
    height:4px;
    background:rgb(29, 155, 240);
    border-radius: 20px;
}

.makePostContainer{

}

.profileImageContainer{
    height: 40px;
    width: 40px;
    margin: 15px 15px;
}

.profileImage{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}