.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mainPanelSmall{
    flex: 2;
    border-left: 1px solid rgb(47, 51, 54);
    border-right: 1px solid rgb(47, 51, 54);;
}

.rightPanelLarge{
    flex: 3.10;
    border-right: 1px solid rgb(47, 51, 54);;
}

.topBlackConatiner{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.heading{
    color: white;
    margin: 5px;
    font-weight: bold;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.topContainerIcon{
    width: 20px;
    height: 20px;
    margin: 4px 7px;
}

.searchInputBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(113, 118, 123, 0.508);
    margin: 10px 10px;
    padding: 6px 12px;
    padding-bottom: 9px;
    border-radius: 25px;
}

.searchIcon{
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    margin-top: 3px;
    margin-right: 3px;
}

.searchInput{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
}

.searchInput::placeholder{
    font-size: 14px;
    color: rgb(113, 118, 123);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.selectMessageContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20%;
}

.selectMessageText{
    color: white;
    font-weight: bold;
}

.selectMessageTextSmaller{
    color: rgb(113, 118, 123);
}

.newMessageButton{
    background-color: rgb(29, 155, 240);
    padding: 15px 45px;
    font-weight: bold;
    margin-top: 10px;
}